/* Universal */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --border-radius: 0.5rem;
  --color-accent-light: rgb(255, 127, 80, 0.6);
  --color-accent: coral;
  --color-black-light: rgb(88, 88, 88);
  --color-black: rgb(20, 20, 20);
  --color-blue-dark: rgb(43, 104, 156);
  --color-blue-darker: rgb(37, 87, 131);
  --color-blue-light: rgb(43, 104, 156, 0.2);
  --color-blue-lighter: rgb(48, 141, 235);
  --color-blue-normal: rgb(40, 119, 197);
  --color-grey-darker: rgb(62, 62, 62);
  --color-white: #fdfdfd;
  --transition-primary: all 0.2s;
}

/* Typography */
html {
  font-size: 62.5%;
}

::selection {
  background: var(--color-blue-dark);
  color: var(--color-white);
}

body {
  color: var(--color-black);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }
}

/* Nav Bar */
.nav {
  align-items: center;
  background: var(--color-blue-darker);
  display: flex;
  justify-content: center;
}

.nav__list {
  margin: 1.5rem 0 1.5rem 0rem;
  padding: 0;
}

.nav__item {
  margin: 2rem;
  white-space: nowrap;
}

.nav__item > a {
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition-primary);
}

.nav__item > a:hover {
  background: var(--color-accent);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
}

/* Inputs, Labels, Buttons, Checkboxes, Select Menu */
.btn,
.input,
.label,
.checkbox,
.select-menu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn,
.checkbox--primary,
.label--secondary {
  cursor: pointer;
}

.input--primary,
.btn--primary,
.select-menu--primary {
  border-radius: var(--border-radius);
}

/* Inputs */
.input {
  padding: 0.75rem;
  margin-bottom: 2rem;
  width: auto;
}

.input--primary {
  background: none;
  border: var(--color-blue-darker) solid 1px;
  color: var(--color-grey-darker);
}

.input--primary:hover {
  border: var(--color-accent-light) solid 1px;
  outline: var(--color-accent-light) solid 1px;
}

.input--primary:focus {
  border: var(--color-accent) solid 1px;
  outline: var(--color-accent) solid 1px;
}

/* Labels */
.label {
  margin-left: 0.1rem;
}

.label--primary {
  color: var(--color-blue-darker);
  font-weight: 500;
}

.label--secondary {
  color: var(--color-black-light);
}

.required::after {
  color: var(--color-accent);
  content: "*";
  margin-left: 0.2rem;
}

/* Buttons */
.btn {
  border: none;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  width: auto;
}

.btn--primary {
  background: var(--color-blue-normal);
  color: var(--color-white);
  font-weight: 600;
  transition: var(--transition-primary);
}

.btn--primary:hover {
  background: var(--color-accent);
  padding: 1.25rem 1.5rem;
  width: 35%;
}

/* Checkboxes */
.checkbox--primary:checked {
  accent-color: var(--color-accent);
  border: none;
  outline: none;
}

/* Select Menu */
.select-menu {
  width: 100%;
}

.select-menu--primary {
  appearance: none;
  background: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-blue-darker);
  cursor: pointer;
  padding: 0.75rem;
}

.select-menu--primary:hover {
  border: var(--color-accent-light) solid 1px;
  outline: var(--color-accent-light) solid 1px;
}

.select-menu--primary:focus {
  border: var(--color-accent) solid 1px;
  outline: var(--color-accent) solid 1px;
}

/* Cards */
.card {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 4rem 5rem;
}

.card--primary {
  background: coral;
  border-radius: var(--border-radius);
}

.card__header {
  margin-top: 0;
  margin-bottom: 3rem;
}

/* Welcome Page */
.block {
  padding: 3rem 3rem;
}

.block--background {
  padding: 1rem 7rem 0 7rem;
}

.block--background-primary {
  background: var(--color-blue-light);
}

.block--skewed {
  clip-path: polygon(100% 100%, 50% 85%, 0 100%, 0 0, 50% 0, 100% 0);
  padding-bottom: 15rem;
}

.block__heading {
  color: var(--color-blue-dark);
  text-align: center;
}

.block__heading p {
  color: var(--color-blue-darker);
  font-weight: 500;
}

.block__form-container {
  display: grid;
  transform: translateY(-15rem);
}

.block--light {
  background: var(--color-white);
  border-radius: var(--border-radius);
  border: solid var(--color-blue-darker) 1px;
  box-shadow: 0 0 5px var(--color-blue-darker);
}

.block__form-checkbox {
  list-style-type: none;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding-left: 0;
}

.block__submit-btn {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

@media screen and (min-width: 768px) {
  .block__form {
    margin-left: auto;
    margin-right: auto;
    width: 65rem;
  }
}

@media screen and (max-width: 1024px) {
  .block--skewed {
    clip-path: polygon(100% 100%, 50% 90%, 0 100%, 0 0, 50% 0, 100% 0);
  }

  .block__submit-btn {
    width: 45%;
  }

  .block__submit-btn:hover {
    width: 50%;
  }
}
