/* Typography */
html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-black: rgb(20, 20, 20);
  --color-black-light: rgb(88, 88, 88);
  --color-blue-normal: rgb(43, 126, 210);
  --color-blue-dark: rgb(43, 104, 156);
  --color-blue-light: rgb(43, 104, 156, 0.2);
  --color-white: rgb(255, 255, 255);
  --color-transparent-white: rgb(255, 255, 255, 0.8);
}

::selection {
  background: var(--color-blue-dark);
  color: var(--color-transparent-white);
}

body {
  color: var(--color-black);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }
}

/* Hero section */
.block {
  --block-padding-verticle: 3rem;
  padding: var(--block-padding-verticle) 3rem;
}

.block h1 {
    color: var(--color-blue-dark);
}

.block--background {
  background: var(--color-blue-light);
}

.block--skewed {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
  padding: calc(var(--block-padding-verticle) + 4rem);
}

.block__form-container {
    display: grid;
}

.block__form-container input {
    background: none;
    border-radius: 0.5rem;
    border: var(--color-black-light) solid 1px;
    margin-bottom: 2rem;
    padding: 0.75rem;
}

.block__form-container input:focus {
    outline: var(--color-blue-normal) solid 2px;
    box-shadow: 0 0 5px var(--color-blue-normal);
}

.block__form-container label {
    color: var(--color-black-light);
    font-weight: 500;
}

.block--light {
    background: var(--color-transparent-white);
    border-radius: 0.75rem;
}

.block .block__submit-btn {
    background: var(--color-blue-normal);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-weight: 600;
}