<div class="filter-container" id="filter-contaienr">
    <select class="select-menu select-menu--primary label--secondary" id="timezone-filter">
      <option value="" selected disabled>timezone</option>
    </select>
    <select class="select-menu select-menu--primary label--secondary" id="type-filter">
      <option value="" selected disabled>type</option>
    </select>
    <select class="select-menu select-menu--primary label--secondary" id="available-filter">
      <option value="" selected disabled>availability</option>
    </select>
</div>