<form>
    <div class="block block__form-container block--light">
      <label for="name">Enter Full Name</label>
      <input name="name" placeholder="Ex. John Doe" required />

      <label for="email">Enter Email</label>
      <input name="email" placeholder="Ex. JohnDoe@gmail.com" required />

      <label for="weChatId">Enter WeChatID (optional)</label>
      <input name="weChatId" placeholder="Ex. JohnDoe813" />
      <input type="submit" value="Submit" class="block__submit-btn" />
    </div>
</form>